@import "./reset.css";
@import "./intro.css";
@import "./about.css";
@import "./products.css";

* {
  box-sizing: border-box;
}

html,
body {
  width: 1920px;
}

button {
  transition-duration: 0.2s;
}

button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.section__title {
  width: 500px;
  height: 48px;
  font-family: Helvetica;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #047bf8;
  margin: 120px 0px 72px 0px;
}
